@import url(http://fonts.googleapis.com/css?family=Roboto:300|Open+Sans);

body, html {
	margin: 0px;
	width: 300px;
	background-color: #f5f5f5;
	font-family: 'Open Sans', sans-serif;
}

/* Title */
.repository .title {
	background-color: #3b7fc4;
	padding: 3px;
	border-bottom: 1px solid #777777;
	height: 38px;
}

.repository .title .name {
	font-weight: bold;
	width: 260px;
	float: left;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
}

.repository .title a {
	color: white;
	text-decoration: none;
	display: block;
	white-space: nowrap;
	overflow: hidden;
}

.repository .title:hover {
	text-decoration: underline;
	background-color: #3b73af;
}

/* Commit */
.repository .commit {
	padding: 5px;
	border-bottom: 1px solid #777777;
	clear: left;
}

.repository .commit .message {
	white-space: nowrap;
	overflow: hidden;
	width: 260px;
	float: left;
}

.repository .commit a {
	color: #3b73af;
	text-decoration: none;
	display: block;
}

.repository .commit:hover {
	text-decoration: none;
	background-color: #e6e6e6;
	text-decoration: underline;
}

#settings {
	height: 25px;
	padding: 3px 3px 0px 3px;
	margin-top: 25px;
}

#settings a {
	color: #3b73af;
	text-decoration: none;
	display: block;
}

#settings:hover {
	text-decoration: none;
	background-color: #e6e6e6;
	text-decoration: underline;
}

.settings-icon {
	float: left;
}

.settings-icon img {
	height: 20px;
	margin-right: 5px;
}

/* General */
.repository .mark {
	text-align: center;
}

.repository .title .mark {
	padding-top: 6px;
}

.repository .mark img {
	width: 20px;
}

.repository .mark a {
	display: inline;
}

.center {
	text-align: center;
}